* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Teko', sans-serif;
    letter-spacing: 2.5px;
}

body {
    height: 100vw;
    background: -webkit-gradient(linear, right top, left top, from(#66ff33), to(#66ffff));
    background: linear-gradient(to left, #66ff33 0%, #66ffff 100%)
    
    
       
}

h1 {
    text-align: center;
    text-transform: uppercase;
    color: white;
    font-size: 100px;
    margin-top: 10px;
    
 
}
section {
    width: 60vw;
    background: white;
    margin: 5% auto 15%;
    border: 2px solid black;
    -webkit-box-shadow: 0 0 11px 4px black;
    box-shadow: 0 0 11px 4px black;
}

h3 {
    font-weight: bold;
    height: 20vh;
    font-size: 28px;
    text-align: center;
    line-height: 20vh;
    text-transform: uppercase;
}

p {
    font-size: 14px;
    color: white;
}

section div {
    background-color: black;
    height: 60vh;
}

@media (max-width: 100vw) {
    h1 { 
        font-size: 100px;
        -webkit-transition: 1s ease;
        transition: 1s ease;
    }
}

@media (max-width:1300px) {
    h3 {
        font-size: 18px;
    }
    h1 {
        font-size: 70px;
        -webkit-transition: 1s ease;
        transition: 1s ease;
    }
}

@media (max-width:900px) {
    h3 {
        font-size: 14px;
    }
    img {
        width: 150px;
        height: auto;
    }
    p {
        font-size: 14px;
    }
}

@media (max-width:600px) {
    img {
        width: 80px;
        height: auto;
    }
    p {
        font-size: 10px;
    }
    h3 {
        font-size: 12px;
    }
    h1 {
        font-size: 30px;
        -webkit-transition: 1s ease;
        transition: 1s ease;
    }
}

/* 
1. Wysrodkowanie elementu w poziomie (img jest elementem liniowym)
*/
#s1 div {
    text-align: center;
}

/*
2. Wysrodkowanie elementu w poziomie. Element blokowy (BLOCK)
*/

#s2 div img {
    display: block;
    margin: 0 auto;
}

/*
3. Wysrodkowanie w poziomie. Elementy blokowe - v.2 (S2A)
*/

#s2a div div {
    text-align: center;
    color: white;
    margin: 0 auto;
    width: 60%;
    height: 80%;
    background: -webkit-gradient(linear, left top, right bottom, from(#33ccff), to(#ff99cc));
    background: linear-gradient(to bottom right, #33ccff 0%, #ff99cc 100%);
}

/* 
4. Wycentrowanie tekstu w elemencie blokowym.
*/

#s3 div p {
    text-align: center;
    font-size: 35px;
    line-height: 60vh;
}

/* 
5. Wysrodkowanie inline-block + pseudoKlasa :before(dla wycentrowania elementu).
Zdecydowanie nie korzystam z tej metody. Ale dziala :)
*/

#s4 div {
    text-align: center;
}

#s4 div:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%
   
}

#s4 div img {
    display: inline-block;
    vertical-align: middle;
}

